.header {
  display: flex;
  background-color: rgb( 50, 167, 145);
  justify-content: space-between;
  align-items: center;
}

.trybewarts-login {
  display: flex;
  height: 50px;
  width: 700px;
  justify-content: space-around;
}

#trybewarts-header-title {
  color: white;
}

#email {
  border-radius: 10px;
  width: 30%;
}

#senha {
  border-radius: 10px;
  width: 30%;
}

#button1 {
  width: 20%;
  border-radius: 10px;
  background-color: purple;
  font-family: serif;
  font-size: medium;
  font-weight: 800;
  color: white;
}

.div-login {
  width: 40%;
}

.trybewarts-header-logo {
  width: 40%;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#evaluation-form input {
  width: 325px;
}

#evaluation-form select {
  width: 294px;
}

#family {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

#family p {
  text-align: center;
}

#txt {
  display: flex;
  flex-direction: column;
}

#txt span {
  margin-top: 10px;
  margin-bottom: 10px;
}

#label-cont {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

#rate {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#rate-radio {
  display: flex;
  flex-direction: row;
  width: 675px;
  margin-top: 10px;
}

#imagem-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

#imagem-body img {
  height: 500px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3em;
  background-color: gray;
  margin-top: 5%;
}
